.menu-title{
  color: $orange;
  margin-bottom: 20px;
}

.meal-description {
  border-bottom: 1px solid $orange;
  padding-bottom: 40px;
  padding-top: 50px;
  a {
    color: $orange;
  }

  .fa{
    color: $orange;
    margin-right: 3px;
    font-size: 20px;
  }
}
