.messages-list {
  max-height: 800px;
  overflow-y: auto;
  overflow-x: hidden;
}


.message-sent {
  position: relative;
  background-color: $orange;
  border-color: $orange;
  color: #EEEEEE;
  margin: 5px 20px 5px 80px;
  padding: 10px;
  float: right;
  border-radius: 5px 5px 5px 0px;
  margin-bottom: 10px;
}


.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  border-radius: 5px 5px 0 5px;
  margin: 5px 80px 5px 20px;
  padding: 10px;
  float: left;
}

ul {
  padding-left: 0px;
  list-style: none;
}
