<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">

      <% @notifications.each do | notification | %>
          <li><%= link_to notification.content, notification_path(notification) %></li>
      <% end %>

    </div>
  </div>
</div>
