  <div class="tab-content hidden" id="profile">
   <h2> Profile de <%= @user.first_name %> <%= @user.last_name %></h2>


    <p>Moyenne des notes de <%= @user.first_name %>
        <%  @user.rating_average.times do %>
            <i class="fa fa-star" aria-hidden="true"></i>
        <% end %>
    </p>
  </div>
