  <!-- repas que le user propose (en ce moment) -->
  <div class="tab-content" id="next_meal_proposed">
  <h1>Je propose</h1>
    <% @user.meals.each do |meal| %>
      <div class="col-md-8 col-md-offset-2">
        <% if !meal.passed? %>
          <%= link_to meal_path(meal) do  %>

            <%= render "shared/meal_card", meal: meal %>

          <% end %>
        <% end %>
      </div>

    <% end %>
  </div>
