<div class="row padded">

<h1>Vos voisins peuvent remplir votre assiette</h1>
<%= simple_form_for :query, url: meals_path, method: :get, wrapper: :inline_form do |f| %>
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="col-xs-12 col-md-9">
    <%= f.input :location, placeholder: "Chercher un repas", input_html: {class: 'autocomplete form_input_home' }%>
    </div>
     <div class="col-xs-12 col-md-3">
    <%= f.button :submit, "Trouver", class: "btn btn-lg btn-warning" %>
     </div>
  </div>

<% end %>
</div>






