<%# content_for :navbar do %>
  <%#= render 'shared/landing_nav' %>
<%# end %>

<div class="bg-image">
  <div class="container">
      <div class="landing-content">
          <%= render "shared/search_location" %>
      </div>
  </div>
</div>
