<div class="row">
  <div class="col-md-9">
    <ul id="conversations-list">
      <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= current_user.full_name %></h3>
      </div>
      <div class="panel-body">
        <ul>
        <h4>Ils cuisinent pour moi</h4>
        <% current_user.orders.each do |order|%>
          <li><%= link_to order.meal.user.full_name, conversations_path(user_id: order.user), remote: true, method: :post %></li>
        <% end %>

      </ul>
    <ul>
      <h4>Je cuisine pour eux:</h4>
      <% current_user.meals.map do |meal| %>
        <% meal.orders.map do |order| %>
          <li><%= link_to order.user.full_name , conversations_path(user_id: order.user), remote: true, method: :post %></li>
        <% end %>
      <% end %>


    </ul>
      </div>
    </div>
  </div>
</div>

<li><%#= link_to order.meal.user.full_name, conversations_path(user_id: order.user), remote: true, method: :post %></li>


