<div class="row">
  <div class="col-md-9">
    <ul id="conversations-list">
      <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">User list</h3>
      </div>
      <div class="panel-body">
        <ul>
          <h4>Les gourmands:</h4>
          <% @users.each do |user| %>
            <% user.orders.each do |order| %>
              <% @buyers = [] %>
              <% @buyers << order.user unless @buyers.include?(order.user) %>
                <% @buyers.each do |buyer| %>
                  <li><%= link_to buyer.full_name, conversations_path(user_id: buyer), remote: true, method: :post %></li>
                <% end %>
              <% end %>
            <% end %>
        </ul>
        <ul>
          <h4>Les cuistos:</h4>
          <% @orders.each do |order| %>
            <% @makers = [] %>
            <% @makers << order.meal.user unless @makers.include?(order.meal.user) %>
            <% @makers.each do |maker| %>
              <li><%= link_to maker.full_name, conversations_path(user_id: maker), remote: true, method: :post %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

