
section {
  margin-top: 20px;
}

#normal-choice {
  label {
  font-family: "Open Sans", "Helvetica", "sans-serif" !important;
  font-weight: lighter !important;

  color: $orange;
  }
}

.choice {
  form {
    .category {
      font-family: "Open Sans", "Helvetica", "sans-serif" !important;

    }
  }

  span {
    font-weight: 300;
    cursor: pointer;
  }

  input {
    visibility: hidden;
  }
  input:checked + span {
    color: red;
    a {
      font-weight: bold;
      color: red;
    }
    .fa {
      transform: scale(1.15);
    }
  }



  h4 {
    margin-bottom: 5px;
  }

  label {
    span:hover {
      color: black;
      text-decoration: underline;
      a {
        color: black;
      }
      .fa {
        transform: scale(1.15);
      }
    }
  }
}

