<div class="nested-fields">
  <%= f.input :name, label: "Ajouter les ingredients" %>
  <div class="links">
    <%= link_to_remove_association "Supprimer cet ingrédient", f , class: "btn btn-danger btn-xs" %>
  </div>
</div>

