<div class="col-xs-12 padded">
  <%= simple_form_for [ @meal, @order] do |f| %>
    <div class="col-xs-2">
      <%= f.input :quantity, label: "Parts", collection: (1..@meal.left_meal) %>
    </div>
    <div class="col-xs-12">
      <%= f.input :message %>
      <%= f.submit :Valider, class:"btn btn-warning"%>
    </div>
  <% end %>
</div>

