  <%= simple_form_for [@meal, @review] do |f| %>
    <div id="rating-form">
      <label>Rating</label>
    </div>
    <%= f.input :comment,  input_html: { type: "text"} %>
    <%= f.submit  %>
  <% end %>

  <script>
    $('#rating-form').raty({
      path: '/assets/',
      scoreName: 'review[rating]'
    });
  </script>

