<div class="search_form padded">
  <%= simple_form_for :query, url: meals_path, method: :get,  wrapper: :inline_form, html: {class: 'form-inline'} do |f| %>
    <%=  f.input  :keyword, placeholder: "Recherche par mot clé" %>
  <% end %>

</div>
