<div class="container">
  <div class="row">
  <%#= render 'shared/search_location' %>
  <%= render 'category_filter' %>
  <div class="col-xs-9">
    <section class="meals-normal">
      <% if @meals_count != 0 %>
        <div class="row">
          <% @meals.sort.each do |meal| %>
            <% unless meal.passed?  %>
            <%= link_to meal_path(meal) do  %>

              <%= render "shared/meal_card", meal: meal %>

            <% end %>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <p class="no-meal">Aucun repas ne correspond à votre recherche.

         <%= link_to 'Effacer les filtres', meals_path('category[]' => 'all') %>
         </p>
      <% end %>

    </section>
  </div>

  </div>
<!--     <div id="map" style="width: 100%; height: 600px;" data-markers='<%#= raw @markers_hash.to_json %>'></div>
 -->

</div>
