
section {
  margin-top: 20px;
}

.choice {

}
.card-meal {
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.35);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.35);
  border-radius: 2px;
  margin-top: 20px;
  color: green;
}

.card-meal:hover {
    transition:all 0.4s ease;
    -webkit-transform: scale(1.01);
           -ms-transform: scale(1.01);
           -transform: scale(1.01);
}

#normal-choice {
  label {
  font-family: "Open Sans", "Helvetica", "sans-serif" !important;
  font-weight: lighter !important;
  }
}

.choice {
  form {
    .category {
      font-family: "Open Sans", "Helvetica", "sans-serif" !important;
      color: light-grey;
      a {
        color: light-grey;
      }
    }
  }

  span {
    font-weight: 300;
    cursor: pointer;
  }

  input {
    visibility: hidden;
  }
  input:checked + span {
    color: red;
    a {
      font-weight: bold;
      color: red;
    }
    .fa {
      transform: scale(1.15);
    }
  }



  h4 {
    margin-bottom: 5px;
  }

  label {
    span:hover {
      color: black;
      text-decoration: underline;
      a {
        color: black;
      }
      .fa {
        transform: scale(1.15);
      }
    }
  }
}

