<!-- Repas commandé par le user, passé -->
  <div class="tab-content hidden" id="old_meal_ordered">
    <% if @user.placed_orders.present? %>
        <div class="col-md-8 col-md-offset-2 ">
      <% @user.placed_orders.passed.each do|meal| %>
        <%= link_to meal_path(meal) do  %>

        <%= render "shared/meal_card", meal: meal %>

        <% end %>

      <% end %>
      </div>
    <% end %>
  </div>











