<!-- Repas commandé par le user, en attente -->
  <div class="tab-content hidden" id="awaiting_meal_ordered">
    <% if @user.orders.present? %>
      <div class="col-xs-12">
      <% @user.orders.each do|order| %>
        <% if order.meal.coming? %>
        <%= link_to meal_path(order.meal) do  %>
          <%= render "shared/meal_card", meal: order.meal %>
        <% end %>

        <% end %>
      <% end %>
      </div>
    <% end %>
  </div>

